.nav li:hover, .navbar-header:hover {
  background: silver;
}


#modal-920893 {

}

#product-info li {
  font-size: 20px;
}

.thumbnail {
  height: 240px;
  max-width: 340px;
}


body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}

#deets {
  float:right;
}

#auctionname{
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

.carousel-inner img {
  height: 100px;
}
.carousel-inner{
  width:100%;
  max-height: 424px;
}

.carousel-inner .item img {
    margin: 0 auto;
}
