<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li> {{#link-to 'auctions'}}Main{{/link-to}}</li>
      <li> {{#link-to 'new-auction'}}Add Auction{{/link-to}}</li>

      <li> {{#link-to 'products'}}Catalogs{{/link-to}}</li>


      <li> {{#link-to 'new-item'}}Add Item{{/link-to}}</li>
    </ul>
   </nav>

  {{outlet}}
  </div>
