<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <div class="navbar-header">
      <a id="nav" class="navbar-brand" href="/">Star-Bay</a>
    </div>
    <ul class='nav navbar-nav'>
      <li> {{#link-to 'auctions'}}Main{{/link-to}}</li>
      <li> {{#link-to 'new-auction'}}Add Auction{{/link-to}}</li>
      <li> {{#link-to 'products'}}All Items{{/link-to}}</li>

    </ul>
   </nav>

  {{outlet}}
  </div>
