<h1 class="page-header text-center">TORHUS: Master Curators of the Universe</h1>

<h2>Current Auctions</h2>


<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-74374">
				<div class="carousel-inner">
					<div class="item active">
						<a href="#">
						<img alt="" src="img/Battle_Droid.png" /></a>
						<div class="carousel-caption">
							<h4>
								Battle Droid
							</h4>
							<p>
                A
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">
						<img alt="" src="img/C-3PO_droid.png" /></a>
						<div class="carousel-caption">
							<h4>
								C-3PO
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/han-blaster.png" /></a>
						<div class="carousel-caption">
							<h4>
								Han Solo's Blaster
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
          <div class="item">
						<a href="#">

            <img alt="" src="img/lukesaber.jpg" /></a>
            <div class="carousel-caption">
              <h4>
                Luke Skywalker's Lightsaber
              </h4>
              <p>
								placeholder
              </p>
            </div>
          </div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/maulsaber.jpg" /></a>
						<div class="carousel-caption">
							<h4>
								Darth Maul's Lightsaber
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/millenium.png" /></a>
						<div class="carousel-caption">
							<h4>
								Millenium Falcon Starship
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/mkII.jpg" /></a>
						<div class="carousel-caption">
							<h4>
								Mark 2 Blaster
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/pitdroid.png" /></a>
						<div class="carousel-caption">
							<h4>
								Pit Doid
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/r2d2.png" /></a>
						<div class="carousel-caption">
							<h4>
								R2D2
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
					<div class="item">
						<a href="#">

						<img alt="" src="img/starfighter.png" /></a>
						<div class="carousel-caption">
							<h4>
								Empire Star Fighter
							</h4>
							<p>
								placeholder
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-74374" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-74374" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<br>
			{{#link-to 'new-item' classNames="btn btn-block btn-info"}}Add Auction Item{{/link-to}}
		</div>
	</div>
